---
http_interactions:
- request:
    method: get
    uri: http://tophatter.dev/merchant_api/v1/metadata/materials.json
    body:
      encoding: UTF-8
      string: access_token=d8f979fc7d14fec0b075c0b73dbafb59
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"be736d3ee4eea194b4752b673f08d239"
    body:
      encoding: UTF-8
      string: '{"Accessories":["Leather","Patent Leather","Faux Leather","Nylon","Cotton","Polyester","Wool","Silk"],"Home":["Leather","Patent
        Leather","Faux Leather","Nylon","Cotton","Polyester","Wool","Silk"],"Apparel":["Canvas","Leather","Patent
        Leather","Faux Leather","Nylon","Cotton","Polyester","Wool","Silk"],"Baby
        Apparel":["Leather","Patent Leather","Faux Leather","Nylon","Cotton","Polyester","Wool","Silk"],"Toddler
        Apparel":["Leather","Patent Leather","Faux Leather","Nylon","Cotton","Polyester","Wool","Silk"],"Kids/Youth
        Apparel":["Leather","Patent Leather","Faux Leather","Nylon","Cotton","Polyester","Wool","Silk"],"Jewelry":["Multi-Tone
        Gold","Palladium","Platinum","Platinum Plated","Rhodium","Rhodium Plated","Rose
        Gold","Rose Gold Filled","Rose Gold Plated","Silver Plated","Sterling Silver","Titanium","Titanium
        Plated","Tungsten","White Gold","White Gold Filled","White Gold Plated","Yellow
        Gold","Yellow Gold Filled","Yellow Gold Plated","Stainless Steel","Alloy Metal"],"Gemstones":["Agate","Alexandrite","Amazonite","Amber","Amethyst","Ametrine","Ammolite","Andalusite","Apatite","Aquamarine","Aventurine","Azotic
        Topaz","Beryl","Bloodstone","Calcite","Carnelian","Cat''s Eye","Chalcedony","Charoite","Chrysocolla","Chrysoprase","Citrine","Coral","Cubic
        Zirconia","Diamond","Emerald","Fire Opal","Fluorite","Fossil Coral","Garnet","Gaspeite","Goldstone","Goshenite","Hematite","Howlite","Imperial
        Topaz","Iolite","Jadeite","Jasper","Kunzite","Kyanite","Labradorite","Labradorite","Lapis
        Lazuli","Larimar","Lepidolite","Malachite","Moonstone","Morganite","Mystic
        Quartz","Mystic Topaz","Obsidian","Onyx","Opal","Opal","Opal Doublet","Pearl","Peridot","Pietersite","Prehnite","Quartz","Rainbow
        Moonstone","Rainbow Pyrite","Rhodochrosite","Rose Quartz","Rubellite Tourmaline","Ruby","Ruby-in-Fuchsite","Ruby-Zoisite","Rutile
        Quartz","Rutile Topaz","Sapphire","Seraphinite","Serpentine","Smoky Quartz","Snowflake
        Obsidian","Sodalite","Spinel","Star Diopside","Star Garnet","Star Lemon Quartz","Star
        Moonstone","Star Rose Quartz","Star Ruby","Star Sapphire","Star Sunstone","Sugilite","Sunstone","Tanzanite","Tiger''s
        Eye","Topaz","Tourmaline","Turquoise","Variscite","Verdite","Zircon"]}'
  recorded_at: Fri, 31 Mar 2017 23:33:13 GMT
recorded_with: VCR 3.0.3
