---
http_interactions:
- request:
    method: get
    uri: http://tophatter.dev/merchant_api/v1/products.json
    body:
      encoding: UTF-8
      string: status=&category=&page=1&per_page=5&pagination=&sort=&access_token=d8f979fc7d14fec0b075c0b73dbafb59
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d088688e45847644e2fc8049cd0194c"
    body:
      encoding: UTF-8
      string: '[{"identifier":"PFTBNU5","category":"Apparel | Tops | Shirts","title":"Pay
        Flow Test, With Shipping Price","description":"This is the lot description.","condition":"New","brand":"Foo","material":null,"available_quantity":100,"variations":[{"identifier":"PFTBNU5","size":null,"color":null,"quantity":100,"created_at":"2017-03-31T16:32:25-07:00"}],"starting_bid":18,"buy_now_price":399,"retail_price":1099,"cost_basis":"300.0","shipping_price":13,"shipping_origin":"United
        States","weight":6,"days_to_fulfill":4,"days_to_deliver":4,"expedited_shipping_price":23,"expedited_days_to_deliver":1,"buy_one_get_one_price":50,"accessory_price":25,"accessory_description":"This
        is a super awesome accessory.","primary_image":"https://d38eepresuu519.cloudfront.net/0127b02033b5ec927eef961f74688d5d/original.jpg","extra_images":"https://d38eepresuu519.cloudfront.net/60ded7eee5b92cdaffa13dd1ee5c0305/original.jpg","all_images":[{"thumbnail":"https://d38eepresuu519.cloudfront.net/0127b02033b5ec927eef961f74688d5d/thumbnail.jpg","square":"https://d38eepresuu519.cloudfront.net/0127b02033b5ec927eef961f74688d5d/square.jpg","medium":"https://d38eepresuu519.cloudfront.net/0127b02033b5ec927eef961f74688d5d/medium.jpg","large":"https://d38eepresuu519.cloudfront.net/0127b02033b5ec927eef961f74688d5d/large.jpg","original":"https://d38eepresuu519.cloudfront.net/0127b02033b5ec927eef961f74688d5d/original.jpg"},{"thumbnail":"https://d38eepresuu519.cloudfront.net/60ded7eee5b92cdaffa13dd1ee5c0305/thumbnail.jpg","square":"https://d38eepresuu519.cloudfront.net/60ded7eee5b92cdaffa13dd1ee5c0305/square.jpg","medium":"https://d38eepresuu519.cloudfront.net/60ded7eee5b92cdaffa13dd1ee5c0305/medium.jpg","large":"https://d38eepresuu519.cloudfront.net/60ded7eee5b92cdaffa13dd1ee5c0305/large.jpg","original":"https://d38eepresuu519.cloudfront.net/60ded7eee5b92cdaffa13dd1ee5c0305/original.jpg"}],"ratings_count":null,"ratings_average":null,"created_at":"2017-03-31T16:32:25-07:00","updated_at":"2017-03-31T16:32:25-07:00","disabled_at":null,"deleted_at":null,"internal_id":992996129,"slug":"PFTBNU5","admin_banned_at":null,"admin_hold_at":null,"admin_reason":null,"success_fee_bid_enabled":false,"success_fee_bid":null},{"identifier":"C
        T.3","category":"Apparel | Tops | Shirts","title":"Cute Top 3 - Sizes & Colors","description":"This
        is a cute top.","condition":"New","brand":null,"material":null,"available_quantity":39,"variations":[{"identifier":"CT3-S-BLUE","size":"S","color":"Blue","quantity":10,"created_at":"2017-03-31T16:32:25-07:00"},{"identifier":"CT3-S-PINK","size":"S","color":"Pink","quantity":10,"created_at":"2017-03-31T16:32:25-07:00"},{"identifier":"CT3-M-BLUE","size":"M","col[...]
