---
http_interactions:
- request:
    method: get
    uri: http://tophatter.dev/merchant_api/v1/metadata/provinces.json
    body:
      encoding: UTF-8
      string: access_token=d8f979fc7d14fec0b075c0b73dbafb59
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c1aa6972986763942242a220c78625ba"
    body:
      encoding: UTF-8
      string: '{"Alberta":"AB","British Columbia":"BC","Manitoba":"MB","New Brunswick":"NB","Newfoundland
        and Labrador":"NL","Nova Scotia":"NS","Northwest Territories":"NT","Nunavut":"NU","Ontario":"ON","Prince
        Edward Island":"PE","Quebec":"QC","Saskatchewan":"SK","Yukon Territory":"YT"}'
  recorded_at: Fri, 31 Mar 2017 23:33:13 GMT
recorded_with: VCR 3.0.3
