---
http_interactions:
- request:
    method: get
    uri: http://tophatter.dev/merchant_api/v1/products/schema.json
    body:
      encoding: UTF-8
      string: access_token=d8f979fc7d14fec0b075c0b73dbafb59
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6dca85d24e48b7e1b8fa05197b323666"
    body:
      encoding: UTF-8
      string: '[{"field":"identifier","name":"Unique ID","required":true,"readonly":false,"description":"The
        unique identifier or SKU that your system uses to recognize this product.
        Only letters, numbers, spaces, dashes and underscores are allowed."},{"field":"category","name":"Category","required":true,"readonly":false,"description":"The
        category of the product. The list of valid categories can be found [here](doc:categories)."},{"field":"title","name":"Title","required":true,"readonly":false,"description":"The
        name of the product."},{"field":"description","name":[...]
