---
http_interactions:
- request:
    method: post
    uri: http://tophatter.dev/merchant_api/v1/variations/update.json
    body:
      encoding: UTF-8
      string: quantity=99&identifier=CT1-S&access_token=293da6763df7cb3b894a1831addcb52d
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b537e3016e70441a3ae79b844c96e772"
    body:
      encoding: UTF-8
      string: '{"product_identifier":"C-T-1","identifier":"CT1-S","size":"S","color":null,"quantity":99,"created_at":"2017-03-25T15:17:23-07:00"}'
  recorded_at: Sat, 25 Mar 2017 22:51:01 GMT
- request:
    method: post
    uri: http://tophatter.dev/merchant_api/v1/variations/update.json
    body:
      encoding: UTF-8
      string: quantity=999&identifier=CT1-S&access_token=293da6763df7cb3b894a1831addcb52d
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8a1f6ecccd46d2a313a1f258f8ba01b"
    body:
      encoding: UTF-8
      string: '{"product_identifier":"C-T-1","identifier":"CT1-S","size":"S","color":null,"quantity":999,"created_at":"2017-03-25T15:17:23-07:00"}'
  recorded_at: Sat, 25 Mar 2017 22:51:01 GMT
recorded_with: VCR 3.0.3
