---
http_interactions:
- request:
    method: get
    uri: http://tophatter.dev/merchant_api/v1/variations/retrieve.json
    body:
      encoding: UTF-8
      string: identifier=CT1-S&access_token=293da6763df7cb3b894a1831addcb52d
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8a1f6ecccd46d2a313a1f258f8ba01b"
    body:
      encoding: UTF-8
      string: '{"product_identifier":"C-T-1","identifier":"CT1-S","size":"S","color":null,"quantity":999,"created_at":"2017-03-25T15:17:23-07:00"}'
  recorded_at: Sat, 25 Mar 2017 22:51:00 GMT
recorded_with: VCR 3.0.3
