---
http_interactions:
- request:
    method: get
    uri: http://tophatter.dev/merchant_api/v1/variations/retrieve.json
    body:
      encoding: UTF-8
      string: identifier=CT1-S&access_token=d8f979fc7d14fec0b075c0b73dbafb59
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a904bee91396bd30c9ea044d10f2d906"
    body:
      encoding: UTF-8
      string: '{"product_identifier":"C-T-1","identifier":"CT1-S","size":"S","color":null,"quantity":10,"created_at":"2017-03-31T16:32:25-07:00","disabled_at":null,"deleted_at":null}'
  recorded_at: Fri, 31 Mar 2017 23:33:08 GMT
recorded_with: VCR 3.0.3
