---
http_interactions:
- request:
    method: get
    uri: http://tophatter.dev/merchant_api/v1/products/retrieve.json
    body:
      encoding: UTF-8
      string: identifier=6631A&access_token=d8f979fc7d14fec0b075c0b73dbafb59
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b0d60fc5254702eb483860c3dbb5322f"
    body:
      encoding: UTF-8
      string: '{"identifier":"6631A","category":"Electronics | Hardware (Computers/Tablets/Phones)
        | Mobile","title":"Apple iPhone 6S","description":"This is the description.","condition":"Refurbished
        - Manufacturer","brand":null,"material":null,"available_quantity":3,"variations":[{"identifier":"6631A-BLACK","size":null,"color":"Black","quantity":2,"created_at":"2017-03-31T16:33:06-07:00"},{"identifier":"6631A-WHITE","size":null,"color":"White","quantity":1,"created_at":"2017-03-31T16:33:06-07:00"}],"starting_bid":1,"buy_now_price":150,"retail_price":null,"cost_basis":"75.0","shipping_price":5,"shipping_origin":"United
        States","weight":6,"days_to_fulfill":3,"days_to_deliver":5,"expedited_shipping_price":null,"expedited_days_to_deliver":null,"buy_one_get_one_price":null,"accessory_price":null,"accessory_description":null,"primary_image":"https://d38eepresuu519.cloudfront.net/b2aa7d2708324f756ffee551ba43a74f/original.jpg","extra_images":"https://d38eepresuu519.cloudfront.net/e615c55184c06f391dbd768f855904e6/original.jpg|https://d38eepresuu519.cloudfront.net/7cd125f0fa42c965675eabaf3309aa6d/original.jpg","all_images":[{"thumbnail":"https://d38eepresuu519.cloudfront.net/b2aa7d2708324f756ffee551ba43a74f/thumbnail.jpg","square":"https://d38eepresuu519.cloudfront.net/b2aa7d2708324f756ffee551ba43a74f/square.jpg","medium":"https://d38eepresuu519.cloudfront.net/b2aa7d2708324f756ffee551ba43a74f/medium.jpg","large":"https://d38eepresuu519.cloudfront.net/b2aa7d2708324f756ffee551ba43a74f/large.jpg","original":"https://d38eepresuu519.cloudfront.net/b2aa7d2708324f756ffee551ba43a74f/original.jpg"},{"thumbnail":"https://d38eepresuu519.cloudfront.net/e615c55184c06f391dbd768f855904e6/thumbnail.jpg","square":"https://d38eepresuu519.cloudfront.net/e615c55184c06f391dbd768f855904e6/square.jpg","medium":"https://d38eepresuu519.cloudfront.net/e615c55184c06f391dbd768f855904e6/medium.jpg","large":"https://d38eepresuu519.cloudfront.net/e615c55184c06f391dbd768f855904e6/large.jpg","original":"https://d38eepresuu519.cloudfront.net/e615c55184c06f391dbd768f855904e6/original.jpg"},{"thumbnail":"https://d38eepresuu519.cloudfront.net/7cd125f0fa42c965675eabaf3309aa6d/thumbnail.jpg","square":"https://d38eepresuu519.cloudfront.net/7cd125f0fa42c965675eabaf3309aa6d/square.jpg","medium":"https://d38eepresuu519.cloudfront.net/7cd125f0fa42c965675eabaf3309aa6d/medium.jpg","large":"https://d38eepresuu519.cloudfront.net/7cd125f0fa42c965675eabaf3309aa6d/large.jpg","original":"https://d38eepresuu519.cloudfront.net/7cd125f0fa42c965675eabaf3309aa6d/original.jpg"}],"ratings_count":null,"ratings_average":null,"created_at":"2017-03-31T16:33:06-07:00","updated_at":"2017-03-31T16:33:06-07:00","disabled_at":null,"deleted_at":null,"internal_id":992996130,"slug":"6631A","admin_banned_at":null,"admin_hold_at":null,"admin_reason":null,"success_fee_bid_enabled":true,"success_fee_bid":"0.5"}'
  recorded_at: Fri, 31 Mar 2017 23:33:08 GMT
- request:
    method: post
    uri: http://tophatter.dev/merchant_api/v1/products/delete.json
    body:
      encoding: UTF-8
      string: identifier=6631A&access_token=d8f979fc7d14fec0b075c0b73dbafb59
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e09f1b0bf0ceae2504ed25ab678d20d0"
    body:
      encoding: UTF-8
 [...]
