---
http_interactions:
- request:
    method: get
    uri: http://tophatter.dev/merchant_api/v1/orders/schema.json
    body:
      encoding: UTF-8
      string: access_token=d8f979fc7d14fec0b075c0b73dbafb59
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24c92ec13cfc95547df3f24f5c7c600e"
    body:
      encoding: UTF-8
      string: '[{"field":"order_id","required":true,"readonly":true,"name":"Order
        ID","description":"The ID of the order."},{"field":"status","required":false,"readonly":true,"name":"Order
        Status","description":"The status of the order."},{"field":"carrier","required":true,"readonly":false,"name":"Carrier","description":"The
        carrier (USPS, China EMS, etc) used to ship this order. The list of accepted
        carries can be found [here](doc:carriers)."},{"field":"tracking_number","required":true,"readonly":false,"name":"Tracking
        Number","description":"The tracking number[...]
