---
http_interactions:
- request:
    method: post
    uri: http://tophatter.dev/merchant_api/v1/products.json
    body:
      encoding: UTF-8
      string: identifier=6631A&category=Electronics%7CHardware%20(Computers%2FTablets%2FPhones)%7CMobile&title=Apple%20iPhone%206S&description=This%20is%20the%20description.&condition=Refurbished%20-%20Manufacturer&starting_bid=1&buy_now_price=150&cost_basis=75&shipping_price=5.0&success_fee_bid=0.5&shipping_origin=United%20States&weight=6&days_to_fulfill=3&days_to_deliver=5&variations[6631A-WHITE][identifier]=6631A-WHITE&variations[6631A-WHITE][color]=White&variations[6631A-WHITE][quantity]=1&variations[6631A-BLACK][identifier]=6631A-BLACK&variations[6631A-BLACK][color]=Black&variations[6631A-BLACK][quantity]=2&primary_image=https%3A%2F%2Fd38eepresuu519.cloudfront.net%2Fb2aa7d2708324f756ffee551ba43a74f%2Foriginal.jpg&extra_images=https%3A%2F%2Fd38eepresuu519.cloudfront.net%2Fe615c55184c06f391dbd768f855904e6%2Foriginal.jpg%7Chttps%3A%2F%2Fd38eepresuu519.cloudfront.net%2F7cd125f0fa42c965675eabaf3309aa6d%2Foriginal.jpg&access_token=293da6763df7cb3b894a1831addcb52d
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"76bff7b3a144b8fa29b96a9f5d1906c2"
    body:
      encoding: UTF-8
      string: '{"identifier":"6631A","category":"Electronics | Hardware (Computers/Tablets/Phones)
        | Mobile","title":"Apple iPhone 6S","description":"This is the description.","condition":"Refurbished
        - Manufacturer","brand":null,"material":null,"available_quantity":0,"variations":[{"identifier":"6631A-BLACK","size":null,"color":"Black","quantity":2,"created_at":"2017-03-25T15:20:05-07:00"},{"identifier":"6631A-WHITE","size":null,"color":"White","quantity":1,"created_at":"2017-03-25T15:20:05-07:00"}],"starting_bid":1,"buy_now_price":150,"retail_price":null,"cost_basis":"75.0","minimum_alerts_needed":0,"success_fee_bid":"0.5","shipping_price":5,"shipping_origin":"United
        States","weight":6,"days_to_fulfill":3,"days_to_deliver":5,"expedited_shipping_price":null,"expedited_days_to_deliver":null,"buy_one_get_one_price":null,"accessory_price":null,"accessory_description":null,"primary_image":"https://d38eepresuu519.cloudfront.net/b2aa7d2708324f756ffee551ba43a74f/original.jpg","extra_images":"https://d38eepresuu519.cloudfront.net/e615c55184c06f391dbd768f855904e6/original.jpg|https://d38eepresuu519.cloudfront.net/7cd125f0fa42c965675eabaf3309aa6d/original.jpg","all_images":[{"thumbnail":"https://d38eepresuu519.cloudfront.net/b2aa7d2708324f756ffee551ba43a74f/thumbnail.jpg","square":"https://d38eepresuu519.cloudfront.net/b2aa7d2708324f756ffee551ba43a74f/square.jpg","medium":"https://d38eepresuu519.cloudfront.net/b2aa7d2708324f756ffee551ba43a74f/medium.jpg","large":"https://d38eepresuu519.cloudfront.net/b2aa7d2708324f756ffee551ba43a74f/large.jpg","original":"https://d38eepresuu519.cloudfront.net/b2aa7d2708324f756ffee551ba43a74f/original.jpg"},{"thumbnail":"https://d38eepresuu519.cloudfront.net/e615c55184c06f391dbd768f855904e6/thumbnail.jpg","square":"https://d38eepresuu519.cloudfront.net/e615c55184c06f391dbd768f855904e6/square.jpg","medium":"https://d38eepresuu519.cloudfront.net/e615c55184c06f391dbd768f855904e6/medium.jpg","large":"https://d38eepresuu519.cloudfront.net/e615c55184c06f391dbd768f855904e6/large.jpg","original":"https://d38eepresuu519.cloudfront.net/e615c55184c06f391dbd768f855904e6/original.jpg"},{"thumbnail":"https://d38eepresuu519.cloudfront.net/7cd125f0fa42c965675eabaf3309aa6d/thumbnail.jpg","square":"https://d38eepresuu519.cloudfront.net/7cd125f0fa42c965675eabaf3309aa6d/square.jpg","medium":"https://d38eepresuu519.cloudfront.net/7cd125f0fa42c965675eabaf3309aa6d/medium.jpg","large":"https://d38eepresuu519.cloudfront.net/7cd125f0fa42c965675eabaf3309aa6d/large.jpg","original":"https://d38eepresuu519.cloudfront.net/7cd125f0fa42c965675eabaf3309aa6d/original.jpg"}],"ratings_count":null,"ratings_average":null,"created_at":"2017-03-25T15:20:05-07:00","updated_at":"2017-03-25T15:20:05-07:00","disabled_at":null,"deleted_at":null,"blacklisted_at":null,"admin_hold_at":null,"slug":"6631A","internal_id":992996131}'
  recorded_at: Sat, 25 Mar 2017 22:20:06 GMT
recorded_with: VCR 3.0.3
