---
http_interactions:
- request:
    method: get
    uri: http://tophatter.dev/merchant_api/v1/orders.json
    body:
      encoding: UTF-8
      string: filter=unfulfilled&page=1&per_page=50&access_token=d8f979fc7d14fec0b075c0b73dbafb59
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7b46a655a5f5d77a7d98d51aceb5de74"
    body:
      encoding: UTF-8
      string: '[{"order_id":359887509,"status":"paid","carrier":null,"tracking_number":null,"product_name":"Paid
        Fullfillable 1","product_identifier":"DEFAULT","variation_identifier":null,"customer_name":"Optimus
        Prime","customer_id":981984628,"address1":"201 Valley Street","address2":null,"city":"Los
        Altos","state":"CA","postal_code":"94022","country":"United States","available_refunds":{"buyer_fee":399.0,"shipping_fee":3.0},"refund_amount":0.0,"disbursement_amount":358.8,"seller_fees_amount":40.2,"seller_fees":[{"type":"commission_fee","amount":40.2}],"paid_at":"2017-03-31T14:31:19-07:00","created_at":"2017-03-31T16:32:24-07:00"},{"order_id":113126549,"status":"paid","carrier":null,"tracking_number":null,"product_name":"Paid,
        Fullfillable 2","product_identifier":"DEFAULT","variation_identifier":null,"customer_name":"Optimus
        Prime","customer_id":981984628,"address1":"201 Valley Street","address2":null,"city":"Los
        Altos","state":"CA","postal_code":"94022","country":"United States","available_refunds":{"buyer_fee":399.0,"shipping_fee":5.0},"refund_amount":0.0,"disbursement_amount":363.6,"seller_fees_amount":40.4,"seller_fees":[{"type":"commission_fee","amount":40.4}],"paid_at":"2017-03-30T16:32:19-07:00","created_at":"2017-03-30T16:32:19-07:00"}]'
  recorded_at: Fri, 31 Mar 2017 23:32:52 GMT
recorded_with: VCR 3.0.3
