---
http_interactions:
- request:
    method: get
    uri: http://tophatter.dev/merchant_api/v1/variations/schema.json
    body:
      encoding: UTF-8
      string: access_token=d8f979fc7d14fec0b075c0b73dbafb59
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2997c4864dcc76d8828f1189f17a099d"
    body:
      encoding: UTF-8
      string: '[{"field":"product_identifier","name":"Product Unique ID","required":true,"readonly":true,"description":"The
        unique identifier of the product this variation belongs to."},{"field":"identifier","name":"Variation
        Unique ID (SKU)","required":true,"readonly":true,"description":"The unique
        identifier or SKU that your system uses to recognize this product variation.
        Only letters, numbers, spaces, dashes and underscores are allowed."},{"field":"size","name":"Size","required":false,"readonly":true,"description":"The
        size of the variation. You can specify any size you''d like, but we recommend
        you use a size from our standardized list of sizes here: https://tophatter.readme.io/docs/sizes."},{"field":"color","name":"Color","required":false,"readonly":true,"description":"You
        can specify any color you''d like, but we recommend you use a size from our
        standardized list of colors here: https://tophatter.readme.io/docs/colors."},{"field":"quantity","name":"Quantity","required":true,"readonly":false,"description":"The
        quantity available to sell for this variation."},{"field":"created_at","name":"Created
        At","required":false,"readonly":true,"description":"The date and time the
        variation was created."},{"field":"disabled_at","name":"Disabled At","required":false,"readonly":true,"description":"The
        date and time the variation was disabled."},{"field":"deleted_at","name":"Deleted
        At","required":false,"readonly":true,"description":"The date and time the
        variation was deleted."}]'
  recorded_at: Fri, 31 Mar 2017 23:33:08 GMT
recorded_with: VCR 3.0.3
