---
http_interactions:
- request:
    method: get
    uri: http://tophatter.dev/merchant_api/v1/variations/schema.json
    body:
      encoding: UTF-8
      string: access_token=293da6763df7cb3b894a1831addcb52d
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4cca3ba8135e44f1993e296fef83396e"
    body:
      encoding: UTF-8
      string: '[{"field":"product_identifier","name":"Product Unique ID","required":true,"readonly":true,"description":"The
        unique identifier of the product this variation belongs to."},{"field":"identifier","name":"Variation
        Unique ID (SKU)","required":true,"readonly":true,"description":"The unique
        identifier or SKU that your system uses to recognize this product variation.
        Only letters, numbers, spaces, dashes and underscores are allowed."},{"field":"size","name":"Size","required":false,"readonly":true,"description":"The
        size of the variation. You can specify any size you''d like, but we recommend
        you use a size from our standardized list of sizes here: https://tophatter.readme.io/docs/sizes."},{"field":"color","name":"Color","required":false,"readonly":true,"description":"You
        can specify any color you''d like, but we recommend you use a size from our
        standardized list of colors here: https://tophatter.readme.io/docs/colors."},{"field":"quantity","name":"Quantity","required":true,"readonly":false,"description":"The
        quantity available to sell for this variation."},{"field":"created_at","name":"Created
        At","required":false,"readonly":true,"description":"The date and time the
        variation was created."}]'
  recorded_at: Sat, 25 Mar 2017 22:51:00 GMT
recorded_with: VCR 3.0.3
