---
http_interactions:
- request:
    method: post
    uri: http://tophatter.dev/merchant_api/v1/orders/fulfill.json
    body:
      encoding: UTF-8
      string: order_id=359887509&carrier=USPS&tracking_number=CX263292019US&access_token=293da6763df7cb3b894a1831addcb52d
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8800c06c6bd0c8549d58c2201f4c54f5"
    body:
      encoding: UTF-8
      string: '{"order_id":359887509,"status":"shipped","carrier":"usps","tracking_number":"CX263292019US","product_name":"Paid
        RIPE, Not Shipped","product_identifier":"DEFAULT","variation_identifier":null,"customer_name":"Optimus
        Prime","customer_id":981984628,"address1":"201 Valley Street","address2":null,"city":"Los
        Altos","state":"CA","postal_code":"94022","country":"United States","available_refunds":{"buyer_fee":399.0},"refund_amount":0.0,"disbursement_amount":358.8,"seller_fees_amount":40.2,"seller_fees":[{"type":"commission_fee","amount":40.2}],"paid_at":"2017-03-25T14:06:54-07:00","created_at":"2017-03-25T16:07:55-07:00"}'
  recorded_at: Sat, 25 Mar 2017 23:09:22 GMT
recorded_with: VCR 3.0.3
