---
http_interactions:
- request:
    method: get
    uri: http://tophatter.dev/merchant_api/v1/metadata/sizes.json
    body:
      encoding: UTF-8
      string: access_token=d8f979fc7d14fec0b075c0b73dbafb59
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"718f127ecfc0beb33efe0e0f0cf38056"
    body:
      encoding: UTF-8
      string: '{"Accessories":["Small","Medium","Large","Extra Large"],"Apparel":["XS","S","M","L","XL","XXL","XXXL","1x","2x","3x","4x","0","2","4","6","8","10","12","14","16","18","20","22","24","26","28","30"],"Beauty":["Full","Travel","Deluxe
        Sample","Sample","Tester","Palette","Set","Mini"],"Shoes":["5","5.5","6","6.5","7","7.5","8","8.5","9","9.5","10","10.5","11","11.5","12"],"Rings":["4","4.5","5","5.5","6","6.5","7","7.5","8","8.5","9","9.5","10","10.5","11","11.5","12","12.5","13","13.5","14"],"Necklaces":["Extra
        Short (Under 16 Inches)","Short (16-20 Inches)","Medium (20-24 Inches)","Long
        (24-28 Inches)","Extra Long (Over 28 Inches)"],"Baby Apparel":["Preemie (P)","Newborn
        (NB)","0/3","3M","3/6","6M","6/9","9M","12M","18M","24M"],"Toddler Apparel":["2T","3T","4T","5T"],"Kids/Youth
        Apparel":["4","5","6","6X","7","8","10","12","14","16","18","XS","S","M","L","XL"],"Baby
        Shoes":["0","0.5","1","1.5","2","2.5","3","3.5","4","4.5","5","5.5","6","6.5","7"],"Toddler
        Shoes":["7.5","8","8.5","9","9.5","10","10.5","11","11.5","12"],"Kids/Youth
        Shoes":["12.5","13","13.5","1Y","1.5Y","2Y","2.5Y","3Y","3.5Y","4Y","4.5Y","5Y","5.5Y","6Y","6.5Y","7Y"]}'
  recorded_at: Fri, 31 Mar 2017 23:33:13 GMT
recorded_with: VCR 3.0.3
