---
http_interactions:
- request:
    method: post
    uri: http://tophatter.dev/merchant_api/v1/orders/refund.json
    body:
      encoding: UTF-8
      string: order_id=359887509&type=partial&reason=delay_in_shipping&fees[]=shipping_fee&access_token=c574bc2f5f4e9da1975e7ae1103eea24
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c914906526948d673b81e2c36858da50"
    body:
      encoding: UTF-8
      string: '{"order_id":359887509,"status":"paid","carrier":null,"tracking_number":null,"product_name":"Paid
        Fullfillable 1","product_identifier":"DEFAULT","variation_identifier":null,"customer_name":"Optimus
        Prime","customer_id":981984628,"address1":"201 Valley Street","address2":null,"city":"Los
        Altos","state":"CA","postal_code":"94022","country":"United States","available_refunds":{"buyer_fee":399.0},"refund_amount":0.0,"disbursement_amount":358.8,"seller_fees_amount":40.2,"seller_fees":[{"type":"commission_fee","amount":40.2}],"paid_at":"2017-03-25T14:44:53-07:00","created_at":"2017-03-25T16:45:54-07:00"}'
  recorded_at: Sat, 25 Mar 2017 23:47:57 GMT
recorded_with: VCR 3.0.3
