---
http_interactions:
- request:
    method: get
    uri: http://tophatter.dev/merchant_api/v1/metadata/states.json
    body:
      encoding: UTF-8
      string: access_token=d8f979fc7d14fec0b075c0b73dbafb59
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"168de2f5d680a792d990cea44b206b1c"
    body:
      encoding: UTF-8
      string: '{"Alaska":"AK","Alabama":"AL","Arkansas":"AR","American Samoa":"AS","Arizona":"AZ","California":"CA","Colorado":"CO","Connecticut":"CT","District
        of Columbia":"DC","Delaware":"DE","Florida":"FL","Georgia":"GA","Guam":"GU","Hawaii":"HI","Iowa":"IA","Idaho":"ID","Illinois":"IL","Indiana":"IN","Kansas":"KS","Kentucky":"KY","Louisiana":"LA","Massachusetts":"MA","Maryland":"MD","Maine":"ME","Michigan":"MI","Minnesota":"MN","Missouri":"MO","Northern
        Mariana Islands":"MP","Mississippi":"MS","Montana":"MT","North Carolina":"NC","North
        Dakota":"ND","Nebraska":"NE","New Hampshire":"NH","New Jersey":"NJ","New Mexico":"NM","Nevada":"NV","New
        York":"NY","Ohio":"OH","Oklahoma":"OK","Oregon":"OR","Pennsylvania":"PA","Puerto
        Rico":"PR","Rhode Island":"RI","South Carolina":"SC","South Dakota":"SD","Tennessee":"TN","Texas":"TX","United
        States Minor Outlying Islands":"UM","Utah":"UT","Virginia":"VA","Virgin Islands":"VI","Vermont":"VT","Washington":"WA","Wisconsin":"WI","West
        Virginia":"WV","Wyoming":"WY","Armed Forces Americas (except Canada)":"AA","Armed
        Forces Africa, Canada, Europe, Middle East":"AE","Armed Forces Pacific":"AP"}'
  recorded_at: Fri, 31 Mar 2017 23:33:13 GMT
recorded_with: VCR 3.0.3
