---
http_interactions:
- request:
    method: post
    uri: http://tophatter.dev/merchant_api/v1/variations.json
    body:
      encoding: UTF-8
      string: product_identifier=C-T-1&identifier=CT1-M&size=M&quantity=99&access_token=293da6763df7cb3b894a1831addcb52d
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"261be41a22777e966b1ac9996bedc231"
    body:
      encoding: UTF-8
      string: '{"product_identifier":"C-T-1","identifier":"CT1-M","size":"M","color":null,"quantity":99,"created_at":"2017-03-25T15:51:00-07:00"}'
  recorded_at: Sat, 25 Mar 2017 22:51:01 GMT
recorded_with: VCR 3.0.3
