---
http_interactions:
- request:
    method: get
    uri: http://tophatter.dev/merchant_api/v1/products/search.json
    body:
      encoding: UTF-8
      string: query=Cute&page=1&per_page=5&pagination=&access_token=293da6763df7cb3b894a1831addcb52d
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b7c8bdaf8a524f735a6698c280296bda"
    body:
      encoding: UTF-8
      string: '[{"identifier":"C T.3","category":"Apparel | Tops | Shirts","title":"Cute
        Top 3 - Sizes & Colors","description":"This is a cute top.","condition":"New","brand":null,"material":null,"available_quantity":39,"variations":[{"identifier":"CT3-S-BLUE","size":"S","color":"Blue","quantity":10,"created_at":"2017-03-25T15:17:23-07:00"},{"identifier":"CT3-S-PINK","size":"S","color":"Pink","quantity":10,"created_at":"2017-03-25T15:17:23-07:00"},{"identifier":"CT3-M-BLUE","size":"M","color":"Blue","quantity":10,"created_at":"2017-03-25T15:17:23-07:00"},{"identifier":"CT3-M-PINK","size":"M","color":"Pink","quantity":10,"created_at":"2017-03-25T15:17:23-07:00"}],"starting_bid":1,"buy_now_price":10,"retail_price":15,"cost_basis":null,"minimum_alerts_needed":0,"success_fee_bid":null,"shipping_price":5,"shipping_origin":"Canada","weight":null,"days_to_fulfill":5,"days_to_deliver":10,"expedited_shipping_price":null,"expedited_days_to_deliver":null,"buy_one_get_one_price":null,"accessory_price":null,"accessory_description":null,"primary_image":"https://d38eepresuu519.cloudfront.net/56a63fd91ba79ff0abb7fe35b86db375/original.jpg","extra_images":"https://d38eepresuu519.cloudfront.net/10633836e10239001fa830ab6f36071a/original.jpg","all_images":[{"thumbnail":"https://d38eepresuu519.cloudfront.net/56a63fd91ba79ff0abb7fe35b86db375/thumbnail.jpg","square":"https://d38eepresuu519.cloudfront.net/56a63fd91ba79ff0abb7fe35b86db375/square.jpg","medium":"https://d38eepresuu519.cloudfront.net/56a63fd91ba79ff0abb7fe35b86db375/medium.jpg","large":"https://d38eepresuu519.cloudfront.net/56a63fd91ba79ff0abb7fe35b86db375/large.jpg","original":"https://d38eepresuu519.cloudfront.net/56a63fd91ba79ff0abb7fe35b86db375/original.jpg"},{"thumbnail":"https://d38eepresuu519.cloudfront.net/10633836e10239001fa830ab6f36071a/thumbnail.jpg","square":"https://d38eepresuu519.cloudfront.net/10633836e10239001fa830ab6f36071a/square.jpg","medium":"https://d38eepresuu519.cloudfront.net/10633836e10239001fa830ab6f36071a/medium.jpg","large":"https://d38eepresuu519.cloudfront.net/10633836e10239001fa830ab6f36071a/large.jpg","original":"https://d38eepresuu519.cloudfront.net/10633836e10239001fa830ab6f36071a/original.jpg"}],"ratings_count":null,"ratings_average":null,"created_at":"2017-03-25T15:17:23-07:00","updated_at":"2017-03-25T15:17:24-07:00","disabled_at":null,"deleted_at":null,"blacklisted_at":null,"admin_hold_at":null,"slug":"C:T~3","internal_id":623229114},{"identifier":"C_T_2","category":"Apparel
        | Tops | Shirts","title":"Cute Top 2 - Colors","description":"This is a cute
        top.","condition":"New","brand":null,"material":null,"available_quantity":17,"variations":[{"identifier":"CT2-BLUE","size":null,"color":"Blue","quantity":10,"created_at":"2017-03-25T15:17:23-07:00"},{"identifier":"CT2-PINK","size":null,"color":"Pink","quantity":10,"created_at":"2017-03-25T15:17:23-07:00"}],"starting_bid":1,"buy_now_price":10,"retail_pr[...]
